/* General*/
/* NAVBAR*/
.barra-navegacion {
    background-color: #1b5e20;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.barra-marca {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.grupo-marca {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* TITULO*/
.titulo-marca {
    margin: 0;
    font-size: 1.6rem;
    font-family: serif;
    color: white;
}

.logo-navegacion {
    height: 40px;
    width: auto;
}

/* Menu hamburguesa*/
.alternador-menu {
    display: block; 
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* LINKS*/
.enlaces-navegacion {
    display: none; 
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

    .enlaces-navegacion.abierto {
        display: flex; 
    }

    .enlaces-navegacion a {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

.acciones-navegacion {
    display: flex;
    align-items: center;
    gap: 20px;
}

.enlace-carrito {
    position: relative;
    display: flex;
    align-items: center;
}

.insignia-carrito {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff5252;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7rem;
    font-weight: bold;
}

.boton-autenticacion {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

/* RESPONSIVO*/
@media (min-width: 768px) {
    .alternador-menu {
        display: none; 
    }

    .barra-navegacion {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 2rem;
    }

    .barra-marca {
        width: auto;
    }

    /* LINKS*/
    .enlaces-navegacion {
        display: flex; 
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
        
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease-in-out, opacity 0.3s ease;
        padding: 0; 
    }

       
        .enlaces-navegacion.abierto {
            max-height: 500px;
            opacity: 1;
            padding: 1rem 0;
        }
}


@media (min-width: 768px) {
    .enlaces-navegacion {
        display: flex;
        flex-direction: row;
        width: auto;
        max-height: none; 
        opacity: 1; 
        overflow: visible;
        transition: none; 
    }
}
